# Binaries
main
*.exe
*.dll

# Go


# Terraform / OpenTofu
.terraform
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
tfplan
infra/.terraform
infra/.terraform.lock.hcl
infra/tfplan

# OS
.DS_Store

# IDE
.idea
.vscode

# Data
sftp_data/
